# VS Code
.vscode/

# Vite cache
.vite/

# Node.js
node_modules/
frontend/node_modules/

# Build output
dist/
frontend/dist/

# Python
__pycache__/
*.pyc

# Environment variables
.env
backend/.env


# backend/database.db